@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  @apply bg-background-image bg-no-repeat bg-cover
  text-white-silver
}


.container {
  @apply mx-auto w-full max-w-[1200px] px-6
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #06d2ff;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #1b5f6c;
  border-radius: 14px;
}
